*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-pad{
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.service-title{
    /* padding-top: 6rem; */
    text-align: center;
    
    text-align: center;
    position: relative;
    
}
.service-title h1{
    font-size: 3rem;
    color:   rgb(11, 33, 75);
  }
  .barr{
    display: flex;
    justify-content: center;
  }
.bar{
    position: absolute;
    text-align: center;
    width: 6rem;
    height: 4px;
    background-color: rgb(249,157,28);
}
.about-us{
    padding: 50px 0px 10px 0px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}
.about-container{
    padding: 30px 20px 20px 20px;
    flex: 1 1 25rem;
    box-shadow:0 0.5rem 1rem rgba(1, 8, 62, 0.05) ;
    border-radius: 10px;
}
.about-container h1{
    margin-bottom: 10px;
    color: rgb(11, 33, 75);
}
